.docker_container_id
.docker_image_id
terraform.tfstate
terraform.tfstate.backup
crash.log
*.lock
*.swp
*.swo
terraform-provider-signalfx
changing_this_one_line_to_create_bc_branch_with_batch_changes
